.artContainer{    
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    width: 100vw;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    position: relative;
    background-image: url("/backgrounds/black_01.jpg");  
}
.artText{
    display: flex;
    justify-content: center;
    top: 0%;
    position: absolute;
    flex-direction: column;
}
.artText h1{
    font-family:'Futura-Medium', sans-serif;
    color: white; 
    text-shadow: 
    -2px -2px 0 black,  
    2px -2px 0 black,
    -2px  2px 0 black,
    2px  2px 0 black;
    letter-spacing: 15px;
    font-size: 80px;
}
.containerPictures{
    display: flex;
    flex-direction: row;   
    justify-content: center;
    align-items: end;
    width: 100%;
    flex-wrap: wrap;
    gap: 50px 30px;
    padding: 100px;
}


/*another variant*/

.picture img {
    height: 240px;
    border-radius: 20px;
    position: relative;
    display: block;
}

/*another variant*/
.picture{
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.picture p{
    color: white;
    font-family:'Futura-Medium', sans-serif;
}

/*another variant*/
.containerPictures .picture:nth-of-type(4) img{
    height: 350px;
}
.containerPictures .picture:nth-of-type(5) img{
    height: 350px;
}

.containerPictures .picture:nth-of-type(6) img{
    height: 350px;
}
.containerPictures .picture:nth-of-type(7) img{
    height: 350px;
}


@media screen and (max-width:480px) {
    .artContainer{    
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    width: 100vw;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    position: relative;
}
.artText{

    top: 0.6%;

}
.artText h1{
    font-size: 20px;
}

.containerPictures .picture:nth-of-type(1){
    order: 1;
}
.containerPictures .picture:nth-of-type(2){
    order: 6;
}
.containerPictures .picture:nth-of-type(3){
    height: 500px;
}
.containerPictures  .picture:nth-of-type(3) img{
     height: 500px;
 }
.containerPictures .picture:nth-of-type(4){
    height: 500px;
}
.containerPictures  .picture:nth-of-type(4) img{
     height: 500px;
 }
.containerPictures .picture:nth-of-type(5){
    height: 500px;
}
.containerPictures  .picture:nth-of-type(5) img{
     height: 500px;
 }
.containerPictures .picture:nth-of-type(6){
    order: 8;
    height: 240px;
}
.containerPictures  .picture:nth-of-type(6) img{
        height: 240px;
 }
.containerPictures .picture:nth-of-type(7){
    height: 500px;
}
.containerPictures .picture:nth-of-type(7) img{
     height: 500px;
 }
}