.background{
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: row;
    width: 100vw;
    height: 100vh;
    justify-content: space-between;
    overflow: hidden;
    position: relative;
    background-image: url("/backgrounds/black01.jpg");
}


.backgroundText{
    padding: 100px;
    display: flex;
    flex-direction: column;
    width: 40%;
    
}
.backgroundText h1{
    font-family:'Futura-Medium', sans-serif;
     color: white; 
     text-shadow: 
    -2px -2px 0 black,  
     2px -2px 0 black,
    -2px  2px 0 black,
     2px  2px 0 black;
     letter-spacing: 10px;
     font-size: 70px;
}
.backgroundText p{
    font-family:'Futura-Medium', sans-serif;
    font-size: 20px;
    color: white;
}
.backgroundContainerSlider{
       height: 100%;
        padding-right: 150px;
}
.backgroundSlider{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    position: relative;
    gap:50px;
}
.backgroundSlider img{
    height: 400px;
    width: 600px;
    border-radius: 50px;
}
.buttonPlus{
    border: none;
    height: 40px;
    background: none;
    position: relative;
    left:-10%;
    top:40%;

}
.buttonPlus img{
    height: 40px;
    width: 40px;
    transform: rotate(180deg);
    opacity: 0.4;
}
.buttonMinus{
    border: none;
    height: 40px;
    background: none;
    position: relative;
    left:-10%;
    top:-40%;
}
.buttonMinus img{
    height: 40px;
    width: 40px;
    transform: rotate(0deg);
    opacity: 0.4;
}
@media screen and (max-width:480px) {
    .background{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .backgroundText{
    justify-content: center;
    align-items: center;
    padding: 0;
    display: flex;
    flex-direction: column;
    width: 100%;
    position: relative;
    }
    .backgroundText h1{
    font-family:'Futura-Medium', sans-serif;
    color: white; 
    text-shadow: 
    -2px -2px 0 black,  
    2px -2px 0 black,
    -2px  2px 0 black,
    2px  2px 0 black;
    letter-spacing: 15px;
    font-size: 30px;
    position: absolute;
    top:15%;
}
    .backgroundText p{
    font-family:'Futura-Medium', sans-serif;
    margin-top: 150px;
    font-size: 20px;
    width: 80%;
    }
    .backgroundSlider{
    height: 50%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    position: relative;
    gap:0px;
    }
    .buttonPlus{
        border: none;
        height: 40px;
        background: none;
        position: absolute;
        left:35%;
        top:90%;

    }
    .buttonPlus img{
        height: 40px;
        width: 40px;
        transform: rotate(90deg);
        opacity: 0.4;
    }
    .buttonMinus{
        border: none;
        height: 40px;
        background: none;
        position: absolute;
        left:50%;
        top:90%;
    }
    .buttonMinus img{
        height: 40px;
        width: 40px;
        transform: rotate(-90deg);
        opacity: 0.4;
    }

}