.inpost{
    display: flex;
    width: 100vw;
    min-height: 100vh;
    flex-direction: column;
    background-image: url("/backgrounds/white01.jpg");  
    overflow-x: hidden;
    justify-content: center;
    align-items: center;
    padding: 0px 0px 50px 0px;
}
.inpostText{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 90%;
    gap:50px;
}
.inpostText h1{
    font-family:'Futura-Medium', sans-serif;
     color: black; 
     letter-spacing: 10px;
     font-size: 80px;
}
.inpostText p{
    position: relative;
    top:9px;
    font-family:'Futura-Medium', sans-serif;
    color: black; 
    width: 47%;
}
.containerImg{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap:50px;
    height: 80%;
}
.containerImg img{
    transition: all 0.8s;
}
.containerImg img:hover{
    scale: 1.1;
}
@media screen and (max-width:480px) {
    
    .inpost{
    height: 100vh;
    padding-top: 50px;
}
    .inpostText{
    position: relative;
    flex-direction: column  ;
    gap:10px;
}
    .inpostText h1{
     font-size: 30px;
}
    .inpostText p{
        width: 80vw;
    }
    .containerImg img{
        width: 80vw;
        transition: all 0.8s;
    }
    .containerImg img:hover{
        scale: 1.1;
    }
}