.magazineContainer{
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: row;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    padding: 100px;
    position: relative;
    background-image: url("/backgrounds/white01.jpg");
    gap:50px;}

.pageSize{
    height: 500px;
    width: 370px;
}
.magazineText {
    width: 37%;
    font-family:'Futura-Medium', sans-serif;
}
.magazineText h1{
    position: relative;
    font-family:'Futura-Medium', sans-serif;
    color: black;
    letter-spacing: 10px;
    font-size: 50px;
}
@media screen and (max-width:480px) {
    .magazineContainer{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 0px;
        min-height: 100%;
    }
    .magazineText h1{
        letter-spacing: 10px;
         font-size: 50px;
    }
    .magazineText{
        width: 90vw;
    }
}